/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/BaseTeleOp.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/BaseTeleOp.dex
/TeamCode/build/intermediates/dex/debug/mergeProjectDexDebug/14/classes.dex
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/Constants$Conversions.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/Constants$Conversions.dex
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/Constants$FieldSize.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/Constants$FieldSize.dex
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/Constants$OdometryWheels.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/Constants$OdometryWheels.dex
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/Constants.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/Constants.dex
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/subsystems/DriveSubsystem.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/subsystems/DriveSubsystem.dex
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/commands/ExampleCommand.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/commands/ExampleCommand.dex
/.gradle/8.9/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/TeamCode/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_24c5800a5ceb06b4fac371ab75548da67eca37558449699e54e50a220d70fad1_bucket_0/graph.bin
/TeamCode/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_24c5800a5ceb06b4fac371ab75548da67eca37558449699e54e50a220d70fad1_bucket_1/graph.bin
/TeamCode/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_24c5800a5ceb06b4fac371ab75548da67eca37558449699e54e50a220d70fad1_bucket_2/graph.bin
/TeamCode/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_24c5800a5ceb06b4fac371ab75548da67eca37558449699e54e50a220d70fad1_bucket_3/graph.bin
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/Intermap.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/Intermap.dex
/TeamCode/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/org/firstinspires/ftc/teamcode/subsystems/OdometrySubsystem.class
/TeamCode/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/org/firstinspires/ftc/teamcode/subsystems/OdometrySubsystem.dex
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.9/fileHashes/resourceHashesCache.bin
